body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Droid Sans', sans-serif;
}

.navbar {
	background-color: #e37222;
}


.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #303c6c;
}

.jumbotron{
	background-color: white;
	background-image: url(./images/sport-equipment-2-22802518.png);
    opacity: 0.5;
    color: white;
    text-align: center;
	
} 

h3{
	line-height: 130%;

}