body {
	font-family: 'Open Sans', sans-serif;
	
	background-image: url(../images/crossword.png);
}

.frontContainer {
	background-color: rgba(227, 114, 34, 0.7);
	padding: 10px 15px 15px 20px;
   

}
.sidebar-offcanvas{
    box-shadow: 5px 5px 5px #D3D3D3;
}

.mainContainer{
    box-shadow: 5px 5px 5px #D3D3D3;
}
h1, h2, h3, h4 {
	font-family: 'Droid Sans', sans-serif;
}

.defaultShadow{
     box-shadow: 3px 3px 5px  #D3D3D3;

}

form.horizontal{
	background-image: url(../images/crossword.png);
}
.navbar {
	background-color: #e37222;
}


.navbar-default .navbar-brand {
    color: #f7f7f7;
}

.navbar-default .navbar-nav>li>a {
    color: #f7f7f7;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #f7f7f7;
    background-color: #303c6c;
}

.jumbotron{
	background-color: white;
	background-image: 
    linear-gradient(
      rgba(200, 200, 200, 0.4),
      rgba(200, 200, 200, 0.4)
    ),
    url(../images/sport-equipment-2-22802518.png);
    text-align: center;
    color: white;
	
} 

.mainContainer{
    background-image: url(../images/crossword.png);
}

.panel-default {
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #303c6c;
    border-color: #303c6c;
}

.panel-body{
	background-image: url(../images/crossword.png);
}

 label.col-sm-2.control-label{
 	font-size: 14px;
 }

h3{
	line-height: 130%;
}

h3.panel-title{
	font-size: 24px;
    color: #f7f7f7;
}
 h3.frontContainer{
    color: ;
 }
.nav>li>a:hover {
    color: #303c6c;
    background-color: #f7f7f7;
}

a {
	color: #f7f7f7;
}

.nav-pills>li>a {
    border-radius: 0;
}

.nav-stacked {
	height: 850px;
	background-color: #303c6c;
	font-size: 20px;
	padding: 25px 5px 25px 5px;

}